body {
  font-family: Arial, sans-serif;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

h1 {
  text-align: center;
}

form {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

form input {
  margin-bottom: 10px;
  padding: 5px;
}

form textarea {
  margin-bottom: 10px;
  padding: 5px;
}

form button {
  padding: 10px;
  background-color: #4CAF50;
  color: white;
  border: none;
  cursor: pointer;
}

ul {
  list-style: none;
}

.products-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-gap: 20px;
}

.product-item {
  border: 1px solid #ddd;
  padding: 10px;
}

.product-item img {
  max-width: 100%;
  height: auto;
  margin-bottom: 10px;
}

.product-item button {
  color: white;
  border: none;
  cursor: pointer;
  width: 100%;
}

.error-message {
  color: red;
  font-weight: bold;
  display: none
}

.product-item .delete-button {
  background-color: #f44336;
}

.product-item .edit-button {
  background-color: #4CAF50;
}
